.container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    margin-bottom: 50px;

    background-color: #ffffffcf;

    z-index: 100;
}

.form {
    min-width: 420px;
    width: 40%;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 1px 10px 16px rgba(34, 60, 80, 0.14);
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form select,
.form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.form select {
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
}

.stripe {
    grid-column: 1 / 3;
    width: 100%;
    height: 1px;
    border: 1px solid black;
}


.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form input[type='number'] {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;

    border: 2px inset rgb(118, 118, 118);
}

.candidate {
    grid-column: 1 / 3;
}

.comment {
    grid-column: 1 / 3;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

.form button {

    height: 40px;

    margin-bottom: 25px;
    border-radius: 15px;

    font-size: 20px;
    cursor: pointer;
}

.btn_save {
    background-color: #00c600;
}

.btn_save:hover {
    background-color: #009b00;
}

.btn_cancel {
    background-color: red;
}

.btn_cancel:hover {
    background-color: #eb0000;
}

.message {
    color: red;
    font-weight: bold;
}
